VITE_PUBLIC_CONTACT_EMAIL=contact@krazystudios.in
VITE_PUBLIC_CALENDLY_URL=https://calendly.com/krazystudios
VITE_PUBLIC_LOCATION_LABEL=Pune, Maharashtra
VITE_PUBLIC_PROJECT_SAFER_URL=https://www.behance.net/gallery/234590253/SAFER-Women-Safety-Mobile-App-(UIUX-Case-Study)
VITE_PUBLIC_PROJECT_TECHSONIX_URL=https://www.behance.net/gallery/227717277/Techsonix-Solutions-Logo-Design-Brand-Identity
VITE_PUBLIC_PROJECT_SKYMINENT_URL=https://www.behance.net/gallery/231846785/Brand-Identity-Design-for-SKYEMINENT-CONSTRUCTION
VITE_PUBLIC_PRIVACY_URL=
VITE_PUBLIC_TERMS_URL=
VITE_PUBLIC_INSTAGRAM_URL=
VITE_PUBLIC_TWITTER_URL=
PING_MESSAGE=ping pong
